body {
    font-family: 'Montserrat', 'M PLUS 1p', sans-serif;
}

.icon {
    color: currentColor;
    transition: all 300ms 0s ease;
}

.icon a {
    color: inherit;
}

.icon:hover {
    color: #4a69bd;
}

.is-github-activity {
    background-image: linear-gradient(
        141deg,#d35400 0, #e67e22 71%, #f39c12 100%
    );
}

.is-skills {
    background-image: linear-gradient(
        141deg,#5758bb 0,#9980fa 71%,#d980fa 100%
    );
}

.is-achievement {
    background-image: linear-gradient(
        141deg,#9a1f40 0, #d9455f 71%, #e66a57 100%
    );
}

.title {
    margin-bottom: 52px;
    border-bottom: dashed 3px #34495e;
    display: inline-block;
}

.top-title {
    font-weight: bold;
    font-size: 62px;
}

.is-profile-list {
    font-weight: lighter;
}

.skills span {
    display: inline-block;
}

.skill-name {
    font-weight: bold;
    min-width: 240px;
}

.skill-description {
    font-weight: lighter;
}

.achievement-name {
    font-weight: bold;
    min-width: 620px;
}

.skills li {
    padding-bottom: 10px;
}